:root {
    --background-color: #004643;
    --headline: #fffffe;
    --element-background: rgba(171, 209, 198, 0.6);
    --button: #f9bc60;
    --button-text: #001e1d;
    --confirmed-color: #a4772b;
    --recovered-color: #29A39E;
    --deaths-color: #B92E32;
}

body {
    font-family: "Trebuchet MS";
    font-weight: bold;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    width: 100%;
}

.header {
    height: 60px;
    background-color: var(--element-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 2em;
    color: var(--headline);
}

.main-icon {
    position: absolute;
    left: 25%;
    top: -5px;
    transform: rotate(4.43deg);
    width: 7%;
}

.main {
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    height: 30px;
    background-color: var(--element-background);
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--headline);
    margin-top: 10px;
    padding: 10px;
}


.select-country {
    min-height: 35px;
    min-width: 50%;
    border: 2px solid var(--background-color);
    border-radius: 10%;
    background-color: var(--button);
    color: var(--button-text);
    align-self: center;
    margin-top: 10px;
}

option {
    background-color: #FCDAA7;
}

.select-country-label {

    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: var(--headline);
    margin-bottom: -9px;
}

.total-label {
    color: var(--headline);
    font-size: medium;
    margin-bottom: -10px;
}

.total-table {
    background-color: var(--button);
    width: 100%;
    min-height: 80px;
    margin-top: 15px;
    border-collapse: collapse;
    border-spacing: 0
}

.total-table th {
    width: 33%;
}

.total-table, td, th {
    border: 1px solid #595959;
    padding: 3px;
    height: 35px;
    text-align: center;

}

.total-table td {
    font-size: 90%;
}


th.confirmed {
    background-color: #B98A2E;
}

th.recover {
    background-color: #29A39E;
}

th.deaths {
    background-color: #B92E32;
}

.confirmed-color {
    color: var(--confirmed-color);
}

.confirmed-bar-color {
    background-color: var(--confirmed-color);
    border: 1px solid #001e1d;
}

.confirmed-display {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.recovered-color {
    color: var(--recovered-color);
}

.recover-bar-color {
    background-color: var(--recovered-color);
}

.deaths-bar-color {
    background-color: var(--deaths-color);
}

.border:hover {
    border: 1px solid #FCDAA7;
}

.day-number {
    width: 5%;
    font-size: 60% !important;
}

.chart {
    min-height: 320px;
    background-color: var(--button);
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
}

.chart-section {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
}

/*.chart-template {*/
/*    min-height:170px;*/
/*    border: 1px solid var(--button-text);*/
/*    background-color: #B92E32;*/
/*    display: inline-block;*/
/*    margin: 0 2px;*/
/*}*/

.day-confirmed-qty {
    background-color: var(--confirmed-color);
}

.day-recover-qty {
    background-color: var(--recovered-color);
}

.day-dead-qty {
    background-color: var(--deaths-color);
}

.legend {
    padding: 5px;
    font-weight: normal;
    background-color: var(--button);
    margin-top: 15px;
}

.legend-confirmed:before {
    display: inline-block;
    position: relative;
    top: 2px;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-color: var(--confirmed-color);
    border: 2px solid var(--button-text);
}

.legend-recovered:before {
    display: inline-block;
    position: relative;
    top: 2px;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-color: var(--recovered-color);
    border: 2px solid var(--button-text);
}

.legend-deaths:before {
    display: inline-block;
    position: relative;
    top: 2px;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-color: var(--deaths-color);
    border: 2px solid var(--button-text);
}

.update-button {
    min-height: 30px;
    background-color: var(--button);
    width: 140px;
    margin-top: 15px;
    color: var(--button-text);
    font-weight: bold;
    margin-bottom: 10px;
    border: 1px solid var(--button-text);
    box-shadow: 2px 2px;
    padding: 5px;
}

.update-button:hover {
    background-color: #B92E32;
}

.update-button-icon {
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    transition: all 0.8s ease-in-out;
}

.update-button:hover .update-button-icon {
 transform: rotate(720deg);
}

@media screen and (min-width: 960px) {
    .header-title {
        font-size: 3em;
    }

    .wrapper {
        width: 960px;
    }

    .main {
        width: 960px;
    }

    .chart {
        width: 960px;
    }
}
